streamlit==1.34.0
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

moviepy==1.0.3
imageio==2.34.0
imageio-ffmpeg==0.4.9
decorator==4.4.2
tqdm==4.66.1
proglog==0.1.10

faiss-cpu==1.7.4
Pillow==9.5.0
numpy==1.24.4

# 使用 pip URL 安装 openai/CLIP
git+https://github.com/openai/CLIP.git
